<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary" (click)="armAlarm()">Arm Alarm</a>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary" (click)="disarmAlarm()">Disarm Alarm</a>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary" (click)="silenceAlarm()">Silence Alarm</a>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary" (click)="viewAnnotatedImage()">View Annotated Image</a>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <img [src]="base64JpegEncodedImage">
    </div>
  </div>
</div>
<div class="row" *ngIf="zalandoProblem !=null">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <div class="alert alert-light">
        <h1>An error occurred.</h1>
        <p> {{zalandoProblem.detail}} </p>
      </div>
    </div>
  </div>
</div>
