<!-- <h1>Security Controller</h1>
<hr>
<app-security-dashboard></app-security-dashboard>
<div class="row" *ngIf="securityBreached; else safe">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <app-security-breached-handler></app-security-breached-handler>
    </div>
  </div>
</div>
<ng-template #safe>
  <p class="alert alert-success">Safe</p>
  <br>
  <button type="button" class="btn btn-primary" (click)="armSecurity()">Arm Security</button>  
</ng-template> -->
<h1>Security Controller</h1>
<hr>
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <app-security-dashboard></app-security-dashboard>
    </div>
  </div>
</div>
<router-outlet></router-outlet>