<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary" (click)="armSecurity()">Arm Security</a>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary" (click)="silenceAlarm()">Silence Alarm</a>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary" (click)="viewBreachImage()">View Breach Image</a>
    </div>
  </div>
</div>